html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
  color: #0070f3;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}


.mini-card-wrap {
  position: relative;
  width: 20px;
  height: 28px;

  .front{
    position: absolute;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 28px;
    font-size: 9px;
    text-indent: -2px;
    border-radius: 2px;
    border: 1px solid #0070f3;
    color: #fff;
    background: #0070f3;
  }

  .back {
    position: absolute;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 28px;
    font-size: 9px;
    text-indent: -2px;
    border-radius: 2px;
    border: 1px solid #0070f3;
    color: #0070f3;
    background: #fff;
  }



}